* {
    box-sizing: border-box;
}

body {
    margin: 0;
}



.boxes {
    height: 35px;
    width: 35px;
    border: solid rgb(119, 118, 118) 1px;
    margin: 0;
    background-color: #eee;
    
}


.container {
    display: flex;
    flex-wrap: wrap;
    min-width: 560px;
    max-width: 560px;    
}

.hover {
    background-color: rgb(54, 54, 54);
}

 /*  .container {
    display: grid;
    grid-auto-rows: 35px;
    grid-template-columns: 1px repeat(16, 1fr);
    column-gap: 0;
    max-width: 560px;
    max-height: 560px;
  }
  
  .boxes {
    border: 1px solid #ddd;
    width: 35px;
    margin: 0;
  } */
















