.boxes {
    height: 30px;
    width: 30px;
    border: solid rgb(119, 118, 118) 1px;
    margin: 0;
    background-color: #eee;
    
}

.hover {
    background-color: rgb(54, 54, 54);
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-width: 500px;
    max-width: 45%;
    
}