* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.hover {
    background-color: rgb(54, 54, 54);
}

 .container {
    display: grid;
    max-width: fit-content;
  }


  .boxes {
    border: 1px solid #ddd;
    margin: 0;
  }










